{% extends 'main/base.html' %}
{% load static i18n %}
{% block body %}
    {% get_current_language as LANGUAGE_CODE %}

    <!--================Breadcrumb Area =================-->
    <section class="breadcrumb_area">
        <div class="overlay bg-parallax" data-stellar-ratio="0.8" data-stellar-vertical-offset="0"
             data-background=""></div>
        <div class="container">
            <div class="page-cover text-center">
                <h2 class="page-cover-tittle">{% trans 'About Us' %}</h2>
                <ol class="breadcrumb">
                    <li><a href="{% url 'index' %}">{% trans 'Home' %}</a></li>
                    <li class="active">{% trans 'About' %}</li>
                </ol>
            </div>
        </div>
    </section>
    <!--================Breadcrumb Area =================-->

    <!--================ About History Area  =================-->
    <section class="about_history_area section_gap">
        <div class="container">
            <div class="row">
                <div class="col-md-6 d_flex align-items-center">
                    <div class="about_content ">
                        <h2 class="title title_color">{% trans 'About Us' %}
                            <br>{% trans 'Our History' %}<br>{% trans 'Mission & Vision' %}</h2>
                        {% autoescape off %}{% if LANGUAGE_CODE == 'en' %}<p>{{ about.text.text_en }}</p>{% else %}
                            {{ about.text.text_ru }}{% endif %}{% endautoescape %}
                    </div>
                </div>
                <div class="col-md-6">
                    {#                    <video src="{% static 'main/image/video.mp4' %}" width="400" height="400" controls loop>Your browser does not support the video tag</video>#}
                    <img class="img-fluid" src="{% if about.image %}{{ about.image.url }}{% endif %}" width="100%"
                         height="100%" alt="img">
                </div>
            </div>
        </div>
    </section>
    <!--================ About History Area  =================-->

    {% include 'main/facilities.html' %}

    {% include 'main/testimonials.html' %}

{% endblock %}