{% extends 'main/base.html' %}
{% load static i18n %}
{% block head %}
    <link rel="stylesheet" href="{% static 'main/js/fancybox/jquery.fancybox.min.css' %}">
{% endblock %}
{% block body %}
    {% get_current_language as LANGUAGE_CODE %}

    <!--================Breadcrumb Area =================-->
    <section class="breadcrumb_area">
        <div class="overlay bg-parallax" data-stellar-ratio="0.8" data-stellar-vertical-offset="0"
             data-background=""></div>
        <div class="container">
            <div class="page-cover text-center">
                <h2 class="page-cover-tittle">Single View</h2>
                <ol class="breadcrumb">
                    <li><a href="{% url 'index' %}">Home</a></li>
                    <li class="active">Single View</li>
                </ol>
            </div>
        </div>
    </section>
    <!--================Breadcrumb Area =================-->

    <!--================ About History Area  =================-->
    <section class="about_history_area section_gap">
        <div class="container">
            <div class="row">
                <div class="col-md-6 d_flex align-items-center">
                    <div class="about_content ">
                        {% if LANGUAGE_CODE == 'en' %}
                            <h2 class="title title_color"> {{ room.title.title_en }}</h2>
                            <p>{{ room.description.description_en }}</p>
                        {% else %}
                            <h2 class="title title_color"> {{ room.title.title_ru }}</h2>
                            <p>{{ room.description.description_ru }}</p>
                        {% endif %}
                        <p><b>{% trans 'Square meter' %}:</b> {{ room.square_meter }}</p>
                        <p><b>{% trans 'Room type' %}:</b> {{ room.get_room_type_display }}</p>
                        <p><b>{% trans 'Price' %}:</b> ${{ room.price }}</p>
                    </div>

                </div>
                <div class="col-md-6">
                    <div class="row imageGallery1" id="gallery">
                        {% for r_image in r_images %}
                            <div class="col-md-6 gallery_item">
                                <div class="gallery_img">
                                    <a href="{{ r_image.image.url }}" data-fancybox="gallery"
                                       data-caption="{{ r_image.image.name }}">
                                        <img src="{{ r_image.image.url }}" alt="">
                                    </a>
                                </div>
                            </div>
                        {% endfor %}

                    </div>
                </div>

            </div>
        </div>
        </div>
    </section>
    <!--================ About History Area  =================-->
    <!--================Booking Tabel Area =================-->
    <section class="hotel_booking_area">
        <div class="container">
            <form id="bookForm" class="" action="{% url 'book' room.id %}" method="POST">{% csrf_token %}

                <div class="row hotel_booking_table">
                    <div class="col-md-3">
                        <h2>Book<br> This Room</h2>
                    </div>
                    <div class="col-md-9">
                        <div class="boking_table">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="book_tabel_item">
                                        <div class="form-group">
                                            <div class='input-group date' id='datetimepicker11'>
                                                <input type='text' class="form-control" name="start_date"
                                                       autocomplete="off"
                                                       placeholder="Arrival Date" required/>
                                                <span class="input-group-addon">
                                                    <i class="fa fa-calendar" aria-hidden="true"></i>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class='input-group date' id='datetimepicker1'>
                                                <input type='text' class="form-control" name="end_date"
                                                       autocomplete="off"
                                                       placeholder="Departure Date" required/>
                                                <span class="input-group-addon">
                                                    <i class="fa fa-calendar" aria-hidden="true"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="book_tabel_item">
                                        <div class="input-group">
                                            <select class="wide" name="num_of_adults" required>
                                                <option data-display="Number of adults" selected disabled hidden value>Number
                                                    of adults
                                                </option>
                                                {% if room.room_type == 0 %}
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                {% elif room.room_type == 1 %}
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                {% endif %}
                                            </select>
                                        </div>
                                        <div class="input-group">
                                            <select class="wide" name="num_of_children" required>
                                                <option data-display="Number of children" selected disabled hidden value>
                                                    Number of children
                                                </option>
                                                <option value="0">0</option>
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                            </select>
                                        </div>


                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="book_tabel_item">
                                        <div class="form-group">
                                            <div class='input-group'>
                                                <input type='text' class="form-control" name="customer_name"
                                                       placeholder="Your name" autocomplete="off"
                                                       required/><br>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class='input-group'>
                                                <input type='email' class="form-control" name="customer_email"
                                                       placeholder="Your email" autocomplete="off"
                                                       required/>
                                            </div>
                                        </div>
                                        <button class="book_now_btn button_hover" type="submit">Book Now</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>
    <!--================Booking Tabel Area  =================-->


    {% include 'main/facilities.html' %}


    <!--================Contact Success and Error message Area =================-->
    <div id="success" class="modal modal-message fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="fa fa-close"></i>
                    </button>
                    <h2>Thank you</h2>
                    <p>We will contact you back, please check your email regularly</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Modals error -->

    <div id="error" class="modal modal-message fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="fa fa-close"></i>
                    </button>
                    <h2>Sorry !</h2>
                    <p> Something went wrong </p>
                </div>
            </div>
        </div>
    </div>
    <!--================End Contact Success and Error message Area =================-->

{% endblock %}

{% block js %}
    <script src="{% static 'main/js/fancybox/jquery.fancybox.min.js' %}"></script>

    <script src="{% static 'main/js/jquery.form.js' %}"></script>
{#    <script src="{% static 'main/js/jquery.validate.min.js' %}"></script>#}
{#    <script src="{% static 'main/js/contact.js' %}"></script>#}



    <script>$(function () {
        $('#bookForm').validate({
            rules: {
                customer_name: {
                    required: true,
                    minlength: 2
                },
                start_time: {
                    required: true,
                    minlength: 10
                },
                end_time: {
                    required: true,
                    minlength: 10
                },
                customer_email: {
                    required: true,
                    email: true
                },
                num_of_adults: {
                    required: true,
                    number: true,
                },
                num_of_children: {
                    number: true,
                }
            },
            messages: {
                customer_name: {
                    required: "come on, you have a name, don't you?",
                    minlength: "your name must consist of at least 2 characters"
                },
                start_time: {
                    required: "come on, please indicate when you are arriving",
                },
                end_time: {
                    required: "come on, please indicate when you are leaving",
                },
                customer_email: {
                    required: "no email, no booking"
                },
                num_of_adults: {
                    required: "um...yea, you have to write how many people are coming",
                }
            },
            submitHandler: function (form) {
                $(form).ajaxSubmit({
                    type: "POST",
                    data: $(form).serialize(),
                    url: '{% url 'book' room.id %}',
                    success: function () {
                        $('#bookForm :input').attr('disabled', 'disabled');
                        $('#bookForm').fadeTo("slow", 1, function () {
                            $(this).find(':input').attr('disabled', 'disabled');
                            $(this).find('label').css('cursor', 'default');
                            $('#success').fadeIn()
                            $('.modal').modal('hide');
                            $('#success').modal('show');
                        })
                    },
                    error: function () {
                        $('#bookForm').fadeTo("slow", 1, function () {
                            $('#error').fadeIn()
                            $('.modal').modal('hide');
                            $('#error').modal('show');
                        })
                    }
                })
            }
        })
    })
    </script>
{% endblock %}