{% extends 'main/base.html' %}
{% load static i18n %}
{% block body %}
        <!--================Breadcrumb Area =================-->
        <section class="breadcrumb_area">
            <div class="overlay bg-parallax" data-stellar-ratio="0.8" data-stellar-vertical-offset="0" data-background=""></div>
            <div class="container">
                <div class="page-cover text-center">
                    <h2 class="page-cover-tittle">{% trans 'Available Rooms' %}</h2>
                    <ol class="breadcrumb">
                        <li><a href="{% url 'index' %}">{% trans 'Home' %}</a></li>
                        <li class="active">{% trans 'Available Rooms' %}</li>
                    </ol>
                </div>
            </div>
        </section>
        <!--================Breadcrumb Area =================-->

        <!--================ Accomodation Area  =================-->
        <section class="accomodation_area section_gap">
            <div class="container">
                <div class="section_title text-center">
                    {% if error %}
                        <h2>{{ error }}</h2>
                    {% else %}
                    <h2 class="title_color"> {% trans 'Accomodation' %}</h2>
                    <p>{% trans 'We all live in an age that belongs to the young at heart. Life that is becoming extremely fast,' %}</p>
                    {% endif %}
                </div>
                <div class="row mb_30">
                    {% for room in rooms %}

                    <div class="col-lg-3 col-sm-6">
                        <div class="accomodation_item text-center">
                            <div class="hotel_img">
                                <img width="300" height="300" src="{{ room.images.first.image.url }}" alt="">
                                <a href="{% url 'room-view' room.slug %}" class="btn theme_btn button_hover">{% trans 'Book Now' %}</a>
                            </div>
                            <a href="{% url 'room-view' room.slug %}"><h4 class="sec_h4">{{ room.get_room_type_display }}</h4></a>
                            <h5>${{room.price}}<small>{% trans '/night' %}</small></h5>
                        </div>
                    </div>
                    {% endfor %}

                </div>
            </div>
        </section>
        <!--================ Accomodation Area  =================-->

{% endblock %}