{% load i18n static %}
{% get_current_language as LANGUAGE_CODE %}

<!doctype html>
<html lang="en">
<head>
    <!-- Google Tag Manager -->
    <script>(function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({
            'gtm.start':
                new Date().getTime(), event: 'gtm.js'
        });
        var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
        j.async = true;
        j.src =
            'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
        f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-PFTW397');</script>
    <!-- End Google Tag Manager -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-159347564-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-159347564-1');
    </script>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="{% static 'main/image/favicon.png' %}" type="image/png">
    <title>Meros B&B</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'main/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'main/vendors/linericon/style.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'main/vendors/owl-carousel/owl.carousel.min.css' %}">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
    <link rel="stylesheet" href="{% static 'main/vendors/nice-select/css/nice-select.css' %}">
    <link rel="stylesheet" href="{% static 'main/vendors/owl-carousel/owl.carousel.min.css' %}">
    <!-- main css -->
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/responsive.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/spinners.css' %}">

    {% block head %}
    {% endblock %}
    <meta name="google-site-verification" content="g5F8HQGjTvEJRHj08XUzArJcd_ptp0-fBQJ4knKlTzw"/>
</head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PFTW397"
            height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
<!-- End Google Tag Manager (noscript) -->
<div class="preloader">
    <div class="loader">
        <div class="loader__figure"></div>
        <p class="loader__label">Meros B&B</p>
    </div>
</div>
<!--================Header Area =================-->
<header class="header_area">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
            <!-- Brand and toggle get grouped for better mobile display -->
            <a class="navbar-brand logo_h p-0" href="{% url 'index' %}">
                <img width="60%" height="60%" src="{% static 'main/image/meros_bb.png' %}"
                     alt="">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                <ul class="nav navbar-nav menu_nav ml-auto">
                    <li class="nav-item"><a class="nav-link" href="{% url 'index' %}">{% trans 'Home' %}</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'about' %}">{% trans 'About us' %}</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'rooms' %}">{% trans 'Accomodation' %}</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'gallery' %}">{% trans 'Gallery' %}</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'contact' %}">{% trans 'Contact' %}</a></li>
                    {% if LANGUAGE_CODE == 'en' %}
                        <li class="nav-item submenu dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true" aria-expanded="false">EN</a>
                            <ul class="dropdown-menu">
                                <li class="nav-item"><a class="nav-link"
                                                        href="/ru{{ request.get_full_path|slice:'3:' }}">RU</a></li>
                            </ul>
                        </li>
                    {% else %}
                        <li class="nav-item submenu dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true" aria-expanded="false">РУ</a>
                            <ul class="dropdown-menu">
                                <li class="nav-item"><a class="nav-link"
                                                        href="/en{{ request.get_full_path|slice:'3:' }}">EN</a></li>
                            </ul>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </div>
</header>
<!--================Header Area =================-->
{% block body %}
{% endblock %}
<!--================ start footer Area  =================-->
<footer class="footer-area section_gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-3  col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h6 class="footer_title">{% if LANGUAGE_CODE == 'en' %} About {% else %} О {% endif %} Meros
                        B&B</h6>
                    <p>{% if LANGUAGE_CODE == 'en' %}The Meros B&B is located inside the baked mud walls of ancient
                        Khiva, not far from the Western (Ota Darvoza) and Northern (Boqcha Darvoza) gates. “MEROS” means
                        'cultural heritage' in English, and the Matkarimov family is steeped in Uzbek
                        culture.{% else %}  Meros B&B  расположен внутри обожженных грязевых
                        стен древней Хивы, недалеко от западных (Ота Дарвоза) и Северных (Бокча Дарвоза) ворот. «MEROS»
                        означает «культурное наследие» на английском языке, а семья Маткаримовых погружена в узбекскую
                        культуру.{% endif %} </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h6 class="footer_title">{% trans 'Navigation Links' %}</h6>
                    <div class="row">
                        <div class="col-4">
                            <ul class="list_style">
                                <li><a href="{% url 'index' %}">{% trans 'Home' %}</a></li>
                                <li><a href="#">{% trans 'About' %}</a></li>
                                <li><a href="#">{% trans 'Pricing' %}</a></li>
                                <li><a href="#">{% trans 'Contact' %}</a></li>
                            </ul>
                        </div>
                        {#                        <div class="col-4">#}
                        {#                            <ul class="list_style">#}
                        {#                                <li><a href="#">Team</a></li>#}
                        {#                                <li><a href="{% url 'rooms' %}">Pricing</a></li>#}
                        {#                                <li><a href="#">Blog</a></li>#}
                        {#                                <li><a href="{% url 'contact' %}">Contact</a></li>#}
                        {#                            </ul>#}
                        {#                        </div>#}
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <a href="https://info.flagcounter.com/mkJ3"><img
                        src="https://s04.flagcounter.com/countxl/mkJ3/bg_FFFFFF/txt_000000/border_CCCCCC/columns_2/maxflags_10/viewers_0/labels_1/pageviews_1/flags_0/percent_0/"
                        alt="Flag Counter">
                </a>
                {#                <div class="single-footer-widget">#}
                {#                    <h6 class="footer_title">Newsletter</h6>#}
                {#                    <p>For business professionals caught between high OEM price and mediocre print and graphic#}
                {#                        output, </p>#}
                {#                    <div id="mc_embed_signup">#}
                {#                        <form target="_blank"#}
                {#                              action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"#}
                {#                              method="get" class="subscribe_form relative">#}
                {#                            <div class="input-group d-flex flex-row">#}
                {#                                <input name="EMAIL" placeholder="Email Address" onfocus="this.placeholder = ''"#}
                {#                                       onblur="this.placeholder = 'Email Address '" required="" type="email">#}
                {#                                <button class="btn sub-btn"><span class="lnr lnr-location"></span></button>#}
                {#                            </div>#}
                {#                            <div class="mt-10 info"></div>#}
                {#                        </form>#}
                {#                    </div>#}
                {#                </div>#}
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-footer-widget instafeed">
                    <h6 class="footer_title">{% trans 'InstaFeed' %}</h6>
                    <ul class="list_style instafeed d-flex flex-wrap">
                        <li><img src="{% static 'main/image/instagram/Image-01.jpg' %}" alt=""></li>
                        <li><img src="{% static 'main/image/instagram/Image-02.jpg' %}" alt=""></li>
                        <li><img src="{% static 'main/image/instagram/Image-03.jpg' %}" alt=""></li>
                        <li><img src="{% static 'main/image/instagram/Image-04.jpg' %}" alt=""></li>
                        <li><img src="{% static 'main/image/instagram/Image-05.jpg' %}" alt=""></li>
                        <li><img src="{% static 'main/image/instagram/Image-06.jpg' %}" alt=""></li>
                        <li><img src="{% static 'main/image/instagram/Image-07.jpg' %}" alt=""></li>
                        <li><img src="{% static 'main/image/instagram/Image-08.jpg' %}" alt=""></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="border_line"></div>
        <div class="row footer-bottom d-flex justify-content-between align-items-center">
            <p class="col-lg-8 col-sm-12 footer-text m-0">

                Copyright &copy;<script>document.write(new Date().getFullYear());</script>
                . Powered by <a href="http://hbmedia.uz">HBMedia</a>

            <div class="col-lg-4 col-sm-12 footer-social">
                <a href="https://www.facebook.com/meroskhiva/"><i class="fa fa-facebook"></i></a>
                <a href="https://instagram.com/meroskhiva?igshid=p97stft6i1gy"><i class="fa fa-instagram"></i></a>
                <a href="https://twitter.com/meroskhiva?s=09"><i class="fa fa-twitter"></i></a>
            </div>
        </div>
    </div>
</footer>
<!--================ End footer Area  =================-->

<script>

</script>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="{% static 'main/js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'main/js/popper.js' %}"></script>
<script src="{% static 'main/js/bootstrap.min.js' %}"></script>
<script src="{% static 'main/vendors/owl-carousel/owl.carousel.min.js' %}"></script>
<script src="{% static 'main/js/jquery.ajaxchimp.min.js' %}"></script>
<script src="{% static 'main/js/mail-script.js' %}"></script>
<script src="{% static 'main/vendors/bootstrap-datepicker/bootstrap-datepicker.js' %}"></script>
<script src="{% static 'main/vendors/nice-select/js/jquery.nice-select.js' %}"></script>
<script src="{% static 'main/js/mail-script.js' %}"></script>
<script src="{% static 'main/js/stellar.js' %}"></script>
<script src="{% static 'main/vendors/lightbox/simpleLightbox.min.js' %}"></script>
<script src="{% static 'main/js/custom.js' %}"></script>
{% block js %}
{% endblock %}
</body>
</html>