{% extends 'main/base.html' %}
{% load static i18n %}
{% block body %}
    <!--================Breadcrumb Area =================-->
    <section class="breadcrumb_area">
        <div class="overlay bg-parallax" data-stellar-ratio="0.8" data-stellar-vertical-offset="0"
             data-background=""></div>
        <div class="container">
            <div class="page-cover text-center">
                <h2 class="page-cover-tittle">{% trans 'Contact Us' %}</h2>
                <ol class="breadcrumb">
                    <li><a href="{% url 'index' %}">{% trans 'Home' %}</a></li>
                    <li class="active">{% trans 'Contact Us' %}</li>
                </ol>
            </div>
        </div>
    </section>
    <!--================Breadcrumb Area =================-->

    <!--================Contact Area =================-->
    <section class="contact_area section_gap">
        <div class="container">

            <div class="row">
                <div class="col-md-3">
                    <div class="contact_info">
                        <div class="info_item">
                            <i class="lnr lnr-home"></i>
                            <h6>{% trans '220900 Bo’yoqchilar 57 street.' %}</h6>
                            <p>{% trans 'Khiva, Khorezm, UZBEKISTAN. ' %}</p>
                        </div>
                        <div class="info_item">
                            <i class="lnr lnr-phone-handset"></i>
                            <h6><a href="#">M: +998 94 315 37 00</a></h6>
                            <h6><a href="#">T/F:+998 62 377 66 42</a></h6>
                            <p>{% trans 'Mon to Fri 9am to 6 pm' %}</p>
                        </div>
                        <div class="info_item">
                            <i class="lnr lnr-envelope"></i>
                            <h6><a href="mailto:meros.khiva@gmail.com ">meros.khiva@gmail.com</a></h6>
                            <p>{% trans 'Send us your query anytime!' %}</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <form class="row contact_form" action="{% url 'contact' %}" method="post" id="contactForm"
                          novalidate="novalidate">{% csrf_token %}
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" id="name" name="name"
                                       placeholder="{% trans 'Your name' %}">
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" id="email" name="email"
                                       placeholder="{% trans 'Your email' %}">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" id="subject" name="subject"
                                       placeholder="{% trans 'Subject' %}">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <textarea class="form-control" name="message" id="message" rows="1"
                                          placeholder="{% trans 'Enter Message' %}"></textarea>
                            </div>
                        </div>
                        <div class="col-md-12 text-right">
                            <button type="submit" value="submit"
                                    class="btn theme_btn button_hover">{% trans 'Send Message' %}
                            </button>
                        </div>
                    </form>
                </div>
            </div>
{#            <div class="map" style="width: 100%; height: 400px" id="map"></div> //custom map#}
           <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2995.6361351727483!2d69.3323413!3d41.338525!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38aef48a8ed4d0e9%3A0x3772abeffc72e7b8!2sInha%20University%20in%20Tashkent!5e0!3m2!1sen!2s!4v1582787288088!5m2!1sen!2s" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>

        </div>

    </section>

    <!--================Contact Area =================-->



    <!--================Contact Success and Error message Area =================-->
    <div id="success" class="modal modal-message fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="fa fa-close"></i>
                    </button>
                    <h2>{% trans 'Thank you' %}</h2>
                    <p>{% trans 'Your message is successfully sent...' %}</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Modals error -->

    <div id="error" class="modal modal-message fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="fa fa-close"></i>
                    </button>
                    <h2>{% trans 'Sorry !' %}</h2>
                    <p> {% trans 'Something went wrong' %} </p>
                </div>
            </div>
        </div>
    </div>
    <!--================End Contact Success and Error message Area =================-->
{% endblock %}
{% block js %}
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    {#<script src="{% static 'main/vendors/imagesloaded/imagesloaded.pkgd.min.js' %}"></script>#}
    {#<script src="{% static 'main/vendors/isotope/isotope-min.js' %}"></script>#}
    <!-- contact js -->
    <script src="{% static 'main/js/jquery.form.js' %}"></script>
    <script src="{% static 'main/js/jquery.validate.min.js' %}"></script>
    <script src="{% static 'main/js/contact.js' %}"></script>



    <script>$(function () {
        $('#contactForm').validate({
            rules: {
                name: {
                    required: true,
                    minlength: 2
                },
                subject: {
                    required: true,
                    minlength: 4
                },
                email: {
                    required: true,
                    email: true
                },
                message: {
                    required: true,
                    minlength: 20
                }
            },
            messages: {
                name: {
                    required: "{% trans 'come on, you have a name, don`t you?' %}",
                    minlength: "{% trans 'your name must consist of at least 2 characters' %}"
                },
                subject: {
                    required: "{% trans 'come on, you have a subject, don`t you?' %}",
                    minlength: "{% trans 'your subject must consist of at least 4 characters' %}"
                },
                email: {
                    required: "{% trans 'no email, no message' %}"
                },
                message: {
                    required: "{% trans 'um...yea, you have to write something to send this form.' %}",
                    minlength: "{% trans 'thats all? really?' %}"
                }
            },
            submitHandler: function (form) {
                $(form).ajaxSubmit({
                    type: "POST",
                    data: $(form).serialize(),
                    url: '',
                    success: function () {
                        $('#contactForm :input').attr('disabled', 'disabled');
                        $('#contactForm').fadeTo("slow", 1, function () {
                            $(this).find(':input').attr('disabled', 'disabled');
                            $(this).find('label').css('cursor', 'default');
                            $('#success').fadeIn()
                            $('.modal').modal('hide');
                            $('#success').modal('show');
                        })
                    },
                    error: function () {
                        $('#contactForm').fadeTo("slow", 1, function () {
                            $('#error').fadeIn()
                            $('.modal').modal('hide');
                            $('#error').modal('show');
                        })
                    }
                })
            }
        })
    })
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA8DFpSGoKPof5ZoW7Nx-4iWdObowtVFNc&callback=initMap"
            async defer></script>
    <script>
        var user_lat, user_lng;
        var map;

        function initMap() {
            map = new google.maps.Map(document.getElementById('map'), {
                center: {lat: 17, lng: 80},
                zoom: 5
            });
            var marker = new google.maps.Marker({
                position: {lat: 17, lng: 80},
                map: map,
                title: 'Hello World!'
            });
        }
    </script>
{% endblock %}