{% extends 'adminka/_base.html' %}
{% load static i18n %}

{% block head %}
    <link href="{% static 'adminka/css/pages/tab-page.css' %}" rel="stylesheet">
    <link href="{% static 'adminka/assets/plugins/uploader/css/fileinput.css' %}" media="all" rel="stylesheet"
          type="text/css"/>
    <link href="{% static 'adminka/assets/plugins/uploader/themes/explorer-fas/theme.css' %}" media="all"
          rel="stylesheet" type="text/css"/>
{% endblock %}

{% block body %}

    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <form action="{% url 'villa-service-categories-update' v_service_category.id %}" method="post">{% csrf_token %}
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#1tab"
                                                        role="tab"><span class="hidden-sm-up"><i
                                        class="ti-home"></i></span> <span
                                        class="hidden-xs-down">{% trans 'English' %}</span></a></li>
                                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#2tab" role="tab"><span
                                        class="hidden-sm-up"><i class="ti-email"></i></span> <span
                                        class="hidden-xs-down">{% trans 'Arabic' %}</span></a></li>
                                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#3tab" role="tab"><span
                                        class="hidden-sm-up"><i class="ti-email"></i></span> <span
                                        class="hidden-xs-down">{% trans 'Persian' %}</span></a></li>
                                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#4tab" role="tab"><span
                                        class="hidden-sm-up"><i class="ti-email"></i></span> <span
                                        class="hidden-xs-down">{% trans 'Indian' %}</span></a></li>
                                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#5tab" role="tab"><span
                                        class="hidden-sm-up"><i class="ti-email"></i></span> <span
                                        class="hidden-xs-down">{% trans 'Russian' %}</span></a></li>
                                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#6tab" role="tab"><span
                                        class="hidden-sm-up"><i class="ti-email"></i></span> <span
                                        class="hidden-xs-down">{% trans 'Chinese' %}</span></a></li>
                            </ul>
                            <!-- Tab panes -->
                            <div class="tab-content tabcontent-border">
                                <div class="tab-pane active" id="1tab" role="tabpanel">
                                    <div class="p-20">
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-3 text-right">
                                                    <label for="title_en" class="control-label">{% trans 'Title' %}
                                                        (en)</label>
                                                </div>
                                                <div class="col-md-9">
                                                    <input type="text" id="title_en" class="form-control"
                                                           name="title_en" placeholder="" autocomplete="off" value="{{ v_service_category.title.title_en }}" required>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="tab-pane p-20" id="2tab" role="tabpanel">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-3 text-right">
                                                <label for="title_ar"
                                                       class="control-label">{% trans 'Title' %}(ar)</label>
                                            </div>
                                            <div class="col-md-9">
                                                <input type="text" id="title_ar" class="form-control" name="title_ar"
                                                       placeholder="" autocomplete="off" value="{{ v_service_category.title.title_ar }}">
                                            </div>
                                        </div>
                                    </div>

                                    
                                </div>
                                <div class="tab-pane p-20" id="3tab" role="tabpanel">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-3 text-right">
                                                <label for="title_fa"
                                                       class="control-label">{% trans 'Title' %}(fa)</label>
                                            </div>
                                            <div class="col-md-9">
                                                <input type="text" id="title_fa" class="form-control" name="title_fa"
                                                       placeholder="" autocomplete="off" value="{{ v_service_category.title.title_fa }}">
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="tab-pane p-20" id="4tab" role="tabpanel">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-3 text-right">
                                                <label for="title_hi"
                                                       class="control-label">{% trans 'Title' %}(hi)</label>
                                            </div>
                                            <div class="col-md-9">
                                                <input type="text" id="title_hi" class="form-control" name="title_hi"
                                                       placeholder="" autocomplete="off" value="{{ v_service_category.title.title_hi }}">
                                            </div>
                                        </div>
                                    </div>

                                    
                                </div>
                                <div class="tab-pane p-20" id="5tab" role="tabpanel">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-3 text-right">
                                                <label for="title_ru"
                                                       class="control-label">{% trans 'Title' %}(ru)</label>
                                            </div>
                                            <div class="col-md-9">
                                                <input type="text" id="title_ru" class="form-control" name="title_ru"
                                                       placeholder="" autocomplete="off" value="{{ v_service_category.title.title_ru }}">
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="tab-pane p-20" id="6tab" role="tabpanel">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-3 text-right">
                                                <label for="title_zh"
                                                       class="control-label">{% trans 'Title' %}(zh)</label>
                                            </div>
                                            <div class="col-md-9">
                                                <input type="text" id="title_zh" class="form-control" name="title_zh"
                                                       placeholder="" autocomplete="off" value="{{ v_service_category.title.title_zh }}">
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>
                            <div class="p-20">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-3 text-right">
                                            <label for="category" class="control-label">{% trans 'Categories' %}</label>
                                        </div>
                                        <div class="col-md-9">
                                            
                                            <select name="category" id="category" class="form-control custom-select">
                                                <option value="{{ v_service_category.id }}">{{ v_service_category.title.title_en }}</option>
                                                {% for c in v_service_categories %}
                                                <option name="category" value="{{ c.id }}">{{ c.title.title_en }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="offset-sm-3 col-md-9">
                                            <button id="saveBtn" type="submit"
                                                    class="btn btn-success"><i
                                                    class="fa fa-check"></i>{% trans 'Save' %}
                                            </button>

                                            <button type="button"
                                                    class="btn btn-inverse" id="cancelBtn">{% trans 'Cancel' %}</button>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Page Content -->
        <!-- ============================================================== -->
        <div id="myModal" class="modal-custom">

            <!-- Modal content -->
            <div class="modal-content-custom">
                <span class="close">&times;</span>
                <h2>{% trans 'Are you sure you want to cancel?' %}</h2>
                <a href="{% url 'villa-service-categories' %}">
                    <button type="button" class="btn btn-success">
                        Yes
                    </button>
                </a>
                <button type="button" class="btn btn-danger No">
                    No
                </button>
            </div>

        </div>
    </div>

{% endblock %}

{% block js %}
<script>document.getElementById("title_en").focus();</script>
{% endblock %}