{% extends 'adminka/_base.html' %}
{% load static i18n %}

{% block head %}
    <link href="{% static 'adminka/css/pages/tab-page.css' %}" rel="stylesheet">
    <link href="{% static 'adminka/assets/plugins/uploader/css/fileinput.css' %}" media="all" rel="stylesheet"
          type="text/css"/>
    <link href="{% static 'adminka/assets/plugins/uploader/themes/explorer-fas/theme.css' %}" media="all"
          rel="stylesheet" type="text/css"/>
    {#    <link rel="stylesheet" href="{%  static 'adminka/css/style.css' %}">#}

{% endblock %}

{% block body %}

    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <form action="{% url 'tour-expenses-create' %}" method="post"
                              enctype="multipart/form-data">{% csrf_token %}
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#1tab"
                                                        role="tab"><span class="hidden-sm-up"><i
                                        class="ti-home"></i></span> <span
                                        class="hidden-xs-down">{% trans 'English' %}</span></a></li>
                                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#2tab" role="tab"><span
                                        class="hidden-sm-up"><i class="ti-email"></i></span> <span
                                        class="hidden-xs-down">{% trans 'Arabic' %}</span></a></li>
                                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#3tab" role="tab"><span
                                        class="hidden-sm-up"><i class="ti-email"></i></span> <span
                                        class="hidden-xs-down">{% trans 'Persian' %}</span></a></li>
                                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#4tab" role="tab"><span
                                        class="hidden-sm-up"><i class="ti-email"></i></span> <span
                                        class="hidden-xs-down">{% trans 'Indian' %}</span></a></li>
                                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#5tab" role="tab"><span
                                        class="hidden-sm-up"><i class="ti-email"></i></span> <span
                                        class="hidden-xs-down">{% trans 'Russian' %}</span></a></li>
                                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#6tab" role="tab"><span
                                        class="hidden-sm-up"><i class="ti-email"></i></span> <span
                                        class="hidden-xs-down">{% trans 'Chinese' %}</span></a></li>
                            </ul>
                            <!-- Tab panes -->
                            <div class="tab-content tabcontent-border">
                                <div class="tab-pane active" id="1tab" role="tabpanel">
                                    <div class="p-20">
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-3 text-right">
                                                    <label for="title_en" class="control-label">{% trans 'Title' %}
                                                        (en)</label>
                                                </div>
                                                <div class="col-md-9">
                                                    <input type="text" id="title_en" class="form-control"
                                                           name="title_en" placeholder="" autocomplete="off" required>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane p-20" id="2tab" role="tabpanel">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-3 text-right">
                                                <label for="title_ar"
                                                       class="control-label">{% trans 'Title' %}(ar)</label>
                                            </div>
                                            <div class="col-md-9">
                                                <input type="text" id="title_ar" class="form-control" name="title_ar"
                                                       placeholder="" autocomplete="off">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane p-20" id="3tab" role="tabpanel">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-3 text-right">
                                                <label for="title_fa"
                                                       class="control-label">{% trans 'Title' %}(fa)</label>
                                            </div>
                                            <div class="col-md-9">
                                                <input type="text" id="title_fa" class="form-control" name="title_fa"
                                                       placeholder="" autocomplete="off">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane p-20" id="4tab" role="tabpanel">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-3 text-right">
                                                <label for="title_hi"
                                                       class="control-label">{% trans 'Title' %}(hi)</label>
                                            </div>
                                            <div class="col-md-9">
                                                <input type="text" id="title_hi" class="form-control" name="title_hi"
                                                       placeholder="" autocomplete="off">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane p-20" id="5tab" role="tabpanel">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-3 text-right">
                                                <label for="title_ru"
                                                       class="control-label">{% trans 'Title' %}(ru)</label>
                                            </div>
                                            <div class="col-md-9">
                                                <input type="text" id="title_ru" class="form-control" name="title_ru"
                                                       placeholder="" autocomplete="off">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane p-20" id="6tab" role="tabpanel">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-3 text-right">
                                                <label for="title_zh"
                                                       class="control-label">{% trans 'Title' %}(zh)</label>
                                            </div>
                                            <div class="col-md-9">
                                                <input type="text" id="title_zh" class="form-control" name="title_zh"
                                                       placeholder="" autocomplete="off">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="p-20">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-3 text-right">
                                            <label for="icon" class="control-label">{% trans 'Icons' %}</label>
                                        </div>
                                        <div class="col-md-6">
                                            <select name="icon" id="icon" class="form-control custom-select">
                                            </select>
                                        </div>
                                        <div class="col-md-1"></div>
                                        <div class="col-md-2 div-3">
                                            <i style="font-size: 100px" class="icon-class fi "></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="offset-sm-3 col-md-9">
                                            <button id="" type="submit"
                                                    class="btn btn-success"><i
                                                    class="fa fa-check"></i>{% trans 'Save' %}
                                            </button>
                                            <button type="button"
                                                    class="btn btn-inverse" id="cancelBtn">{% trans 'Cancel' %}</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Page Content -->
        <!-- ============================================================== -->
        <div id="myModal" class="modal-custom">

            <!-- Modal content -->
            <div class="modal-content-custom">
                <span class="close">&times;</span>
                <h2>{% trans 'Are you sure you want to cancel?' %}</h2>
                <a href="{% url 'tour-expenses' %}">
                    <button type="button" class="btn btn-success">
                        Yes
                    </button>
                </a>
                <button type="button" class="btn btn-danger No">
                    No
                </button>
            </div>

        </div>
    </div>

{% endblock %}


{% block js %}
    <script>document.getElementById("title_en").focus();</script>
    <script>
        {% for i in icons_list %}
            i = "{{ i }}";

            icon = i.slice(9, -6);
            if (icon.charAt(0) === ';'){
                icon = icon.slice(1)
            }
            else if (icon.charAt(0) === '9'){
                icon = icon.slice(2)
            }
            v = i.slice(1);
            vall = parseInt(v)
            $('.custom-select').append(`<option data-icon="${icon}" name="icon" value="` + vall + `">` + icon + `</option>`);
        {% endfor %}

        const iconSelectList = document.querySelector("select#icon");

        // Set first icon as default
        const firstIconOption = iconSelectList.options[0];
        const defaultIcon = firstIconOption.dataset.icon;

        setIconImage(defaultIcon);

        iconSelectList.onchange = () => {
            const selectedIndex = iconSelectList.selectedIndex;
            const selectedIconOption = iconSelectList.options[selectedIndex];

            const selectedIcon = selectedIconOption.dataset.icon;

            setIconImage(selectedIcon);
        };

        function setIconImage(iconName) {
            const iconImage = document.querySelector(".div-3 .icon-class");
            iconImage.className = "icon-class fi fi-" + iconName;
        }

    </script>
    <script src="{% static 'adminka/assets/tinymce/js/tinymce/tinymce.min.js' %}"></script>
    <script>
        tinymce.init({
            selector: "textarea.moxiecut",
            theme: "modern",
            width: '100%',
            height: 300,
            plugins: [
                'advlist autolink lists link image charmap preview hr anchor pagebreak',
                'searchreplace wordcount visualblocks visualchars code',
                'insertdatetime nonbreaking table contextmenu directionality',
                'emoticons template paste textcolor colorpicker textpattern imagetools codesample'
            ],
            toolbar: 'insertfile undo redo | bold italic sizeselect fontsizeselect | hr alignleft aligncenter alignjustify | bullist numlist | emoticons | code',
            fontsize_formats: "8pt 10pt 12pt 14pt 18pt 24pt 36pt",
            branding: false,
            menubar: false
        });
    </script>


{% endblock %}