{% extends 'adminka/_base.html' %}
{% load static i18n %}
{% block head %}
    <link href="{% static 'adminka/css/pages/tab-page.css' %}" rel="stylesheet">
    <link href="{% static 'adminka/assets/plugins/uploader/css/fileinput.css' %}" media="all" rel="stylesheet"
          type="text/css"/>
    <link href="{% static 'adminka/assets/plugins/uploader/themes/explorer-fas/theme.css' %}" media="all"
          rel="stylesheet" type="text/css"/>
{% endblock %}
{% block body %}
    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <form action="{% url 'adminka-about' %}" method="post"
                              enctype="multipart/form-data">{% csrf_token %}
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#1tab"
                                                        role="tab"><span class="hidden-sm-up"><i
                                        class="ti-home"></i></span> <span
                                        class="hidden-xs-down">{% trans 'English' %}</span></a></li>

                                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#2tab" role="tab"><span
                                        class="hidden-sm-up"><i class="ti-email"></i></span> <span
                                        class="hidden-xs-down">{% trans 'Russian' %}</span></a></li>

                            </ul>
                            <!-- Tab panes -->
                            <div class="tab-content tabcontent-border">
                                <div class="tab-pane active" id="1tab" role="tabpanel">
                                    <div class="p-20">
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-3 text-right">
                                                    <label for="text_en"
                                                           class="control-label">{% trans 'Text' %}(en)</label>
                                                </div>
                                                <div class="col-md-9">
                                                    <textarea type="text" rows="10" id="text_en" class="form-control"
                                                              name="text_en" placeholder="" autocomplete="off"
                                                              required></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane p-20" id="2tab" role="tabpanel">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-3 text-right">
                                                <label for="text_ru"
                                                       class="control-label">{% trans 'Text' %}(ru)</label>
                                            </div>
                                            <div class="col-md-9">
                                                <textarea type="text" rows="10" id="text_ru" class="form-control"
                                                          name="text_ru"
                                                          placeholder="" autocomplete="off"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="p-20">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-3 text-right">
                                            <label for="file" class="control-label">{% trans 'Images' %}</label>
                                        </div>
                                        <div class="col-md-9">
                                            <div class="file-loading">
                                                <input id="kv-explorer" type="file" name="image" multiple>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="offset-sm-3 col-md-9">
                                            <button id="saveBtn" type="submit" class="btn btn-success"><i
                                                    class="fa fa-check"></i>{% trans 'Save' %}
                                            </button>
                                            <button type="button" class="btn btn-inverse"
                                                    id="cancelBtn">{% trans 'Cancel' %}</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Page Content -->
        <!-- ============================================================== -->
        <div id="myModal" class="modal-custom">
            <!-- Modal content -->
            <div class="modal-content-custom">
                <span class="close">&times;</span>
                <h2>{% trans 'Are you sure you want to cancel?' %}</h2>
                <a href="{% url 'adminka-index' %}">
                    <button type="button" class="btn btn-success">
                        Yes
                    </button>
                </a>
                <button type="button" class="btn btn-danger No">
                    No
                </button>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
    <script>
        document.getElementById("text_en").value = "{{ about.text.text_en }}";
        document.getElementById("text_ru").value = "{{ about.text.text_ru }}";

    </script>
    <script>
        document.getElementById("text_en").focus()
    </script>
    <script src="{% static 'adminka/assets/tinymce/js/tinymce/tinymce.min.js' %}"></script>
    <script src="{% static 'adminka/assets/plugins/uploader/js/plugins/piexif.js' %}" type="text/javascript"></script>
    <script src="{% static 'adminka/assets/plugins/uploader/js/plugins/sortable.js' %}" type="text/javascript"></script>
    <script src="{% static 'adminka/assets/plugins/uploader/js/fileinput.js' %}" type="text/javascript"></script>
    <script src="{% static 'adminka/assets/plugins/uploader/js/locales/ru.js' %}" type="text/javascript"></script>
    <script src="{% static 'adminka/assets/plugins/uploader/js/locales/uz.js' %}" type="text/javascript"></script>
    <script src="{% static 'adminka/assets/plugins/uploader/themes/fas/theme.js' %}" type="text/javascript"></script>
    <script src="{% static 'adminka/assets/plugins/uploader/themes/explorer-fas/theme.js' %}"
            type="text/javascript"></script>
    <script>
        $(document).ready(function () {
            $("#kv-explorer").fileinput({
                'theme': 'explorer-fas',
                language: 'en',
                allowedFileExtensions: ['jpg', 'jpeg', 'png', 'gif', 'svg'],
                showUpload: true,
                showCaption: true,
                overwriteInitial: false,
                initialPreviewAsData: true,
                initialPreview: [
                    {% for i in a_images %}
                        "{{i.image.url}}",
                    {% endfor %}
                ],

                initialPreviewConfig: [
                    {% for i in a_images %} {
                        caption: "{{i.image.name}}",
                        size: {{ i.image.size }},
                        width: "120px",
                        url: '{% url 'about-image-delete' %}',
                        key: {{ i.id }}
                    },
                    {% endfor %}
                ]
            });
        });
    </script>
{% endblock %}